<%- include('./partials/head.ejs') %>

    <p>Widget campspace</p>


    <!-- <button aria-label="open" class="cs-open-popup" popovertarget="my-popover-widget" popovertargetaction="show">
        <img src="/assets/Campspace-popup.png" alt="Open Campspace booking popup">
    </button>


    <button popovertarget="mypopover" popovertargetaction="hide">&times;</button>
        
        <section id="my-popover-widget" class="cs-widget-inside">
            <span class="cs-close-popup"></span>
            <h2><CAMPSPACE></h2>
            <h3>Boomhut in Scherpenheuvel..</h3>
        </section> -->


    <a id="cs-open-popup">
        <img src="/assets/Campspace-popup.png" alt="Open Campspace booking popup">
    </a>

    <section id="cs-widget">
        <section class="cs-widget-inside">
            <span class="cs-close-popup">&times;</span>

            <h1>CAMPSPACE</h1>
            <h2>Boomhut in Scherpenheuvel..</h2>

            <section class="cs-widget-inside-information">
                <div class="cs-widget-inside-flex">
                    <img src="/assets/Boomhut groot.jpeg" alt="Foto vooraanzicht van de boomhut met glijbaan">
                    <div class="cs-widget-inside-overnachtingen">
                        <h3>Beschikbare overnachtingen:</h3>
                        <div class="cs-widget-inside-overnachtingen-icon">
                        <li><svg width="29" height="15" viewBox="0 0 29 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.6779 3.61279C7.96956 3.61279 8.20851 3.83848 8.22963 4.12475L8.23115 4.16604V7.22828C8.23115 7.51994 8.00546 7.75889 7.71919 7.78001L7.6779 7.78153H3.21316C2.9215 7.78153 2.68255 7.55584 2.66143 7.26957L2.65991 7.22828V4.16604C2.65991 3.87437 2.8856 3.63542 3.17187 3.6143L3.21316 3.61279H7.6779ZM7.12465 4.71901H3.76614V6.67226H7.12465V4.71901Z" fill="#0DB08A"/>
                            <path d="M13.8963 3.61279C14.1879 3.61279 14.4269 3.83848 14.448 4.12475L14.4495 4.16604V7.22828C14.4495 7.51994 14.2238 7.75889 13.9376 7.78001L13.8963 7.78153H9.43155C9.13988 7.78153 8.90093 7.55584 8.87981 7.26957L8.8783 7.22828V4.16604C8.8783 3.87437 9.10399 3.63542 9.39026 3.6143L9.43155 3.61279H13.8963ZM13.343 4.71901H9.9848V6.67226H13.343V4.71901Z" fill="#0DB08A"/>
                            <path d="M27.4952 7.82025H26.9004L25.462 5.27253H25.8354C26.289 5.31426 26.7334 5.12634 27.0194 4.77183C27.2396 4.41443 27.2902 3.97789 27.1577 3.57958C27.1577 3.54638 26.1867 0.276672 24.1148 0.276672H1.41494C1.18577 0.276672 1 0.462446 1 0.69161C1 0.920774 1.18577 1.10655 1.41494 1.10655H2.20885V1.6598H1.41494C1.18577 1.6598 1 1.84557 1 2.07474V12.1992C1 12.4284 1.18577 12.6142 1.41494 12.6142H3.55602C3.67382 13.7025 4.59269 14.5273 5.68742 14.5273C6.78214 14.5273 7.70102 13.7025 7.81882 12.6142H22.0291C22.1469 13.7025 23.0657 14.5273 24.1605 14.5273C25.2552 14.5273 26.1741 13.7025 26.2919 12.6142H28.1287C28.3578 12.6142 28.5436 12.4284 28.5436 12.1992V8.86036C28.5436 8.58306 28.4329 8.31724 28.236 8.12194C28.0392 7.92664 27.7725 7.81803 27.4952 7.82025ZM25.4675 12.3846C25.4675 13.1103 24.8792 13.6985 24.1535 13.6985C23.4279 13.6985 22.8396 13.1103 22.8396 12.3846C22.8396 11.6589 23.4279 11.0706 24.1535 11.0706C24.5028 11.0699 24.838 11.2079 25.0854 11.4543C25.3329 11.7007 25.4723 12.0353 25.473 12.3846H25.4675ZM24.5104 5.27253L25.9488 7.82025H22.4302L22.2089 5.27253H24.5104ZM27.7137 8.86866V11.7788H26.2144C25.9478 10.8654 25.1105 10.2376 24.1591 10.2376C23.2076 10.2376 22.3703 10.8654 22.1038 11.7788H20.9779V5.27253H21.3735L21.6363 8.27391C21.6549 8.48787 21.8337 8.65226 22.0484 8.65289H27.4952C27.5514 8.6514 27.6059 8.67252 27.6464 8.71151C27.687 8.75049 27.7102 8.80411 27.7109 8.86036L27.7137 8.86866ZM6.3444 1.6764V1.12315H8.81743V1.6764H6.3444ZM9.64731 1.12315H12.1203V1.6764H9.64454L9.64731 1.12315ZM12.9502 1.12315H14.0069L13.2517 1.6764H12.9475L12.9502 1.12315ZM3.0415 1.12315H5.51453V1.6764H3.03873L3.0415 1.12315ZM7.00277 12.3846C7.00277 13.1103 6.41449 13.6985 5.6888 13.6985C4.96311 13.6985 4.37483 13.1103 4.37483 12.3846C4.37483 11.6589 4.96311 11.0706 5.6888 11.0706C6.41386 11.0721 7.00125 11.6595 7.00277 12.3846ZM9.62518 11.5768V10.083H11.1162V11.5741L9.62518 11.5768ZM16.0844 11.7815V4.58926H18.5934V11.7815H16.0844ZM20.148 4.86589V11.7815H19.4233V4.18262C19.4233 3.95346 19.2375 3.76768 19.0083 3.76768H15.6694C15.4403 3.76768 15.2545 3.95346 15.2545 4.18262V11.7788H11.935V9.65704C11.935 9.42788 11.7492 9.2421 11.5201 9.2421H9.21024C8.98108 9.2421 8.7953 9.42788 8.7953 9.65704V11.7705H7.74413C7.47755 10.8571 6.64025 10.2293 5.6888 10.2293C4.73736 10.2293 3.90005 10.8571 3.63347 11.7705H1.82988V2.48414H13.3873C13.4749 2.48376 13.5601 2.45568 13.6307 2.40392L15.4232 1.10655H24.1203C25.2269 1.10655 26.1065 2.92674 26.3638 3.82301C26.4173 3.97487 26.4094 4.14166 26.3417 4.28774C26.2448 4.42052 25.982 4.43988 25.8327 4.43988H20.5768C20.4639 4.43612 20.3543 4.47855 20.2734 4.55738C20.1925 4.63621 20.1472 4.74462 20.148 4.85759V4.86589Z" fill="#0DB08A" stroke="#0DB08A" stroke-width="0.5"/>
                            <path d="M24.574 2.86589C24.574 2.63672 24.3882 2.45095 24.1591 2.45095H20.4274C20.1982 2.45095 20.0125 2.63672 20.0125 2.86589C20.0125 3.09505 20.1982 3.28083 20.4274 3.28083H24.1591C24.3882 3.28083 24.574 3.09505 24.574 2.86589Z" fill="#0DB08A"/>
                            </svg>
                        </li>
                        <li><svg width="31" height="15" viewBox="0 0 31 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.2212 6.41541L29.4756 5.42129L27.2388 2.43892L25.7476 0.450678C25.6538 0.325516 25.5065 0.251854 25.35 0.251854H3.47931C3.28441 0.251854 3.10748 0.365721 3.0268 0.543132L0.541491 6.01081C0.493514 6.11637 0.483953 6.23538 0.514463 6.34725L1.33362 9.3505C0.710172 9.65531 0.379408 10.3499 0.535735 11.026C0.692062 11.7022 1.29415 12.1811 1.98813 12.1813H3.97637C4.14255 12.1813 4.29774 12.0983 4.38993 11.96L4.50499 11.7875C4.34882 12.758 4.77941 13.7295 5.60343 14.2655C6.42745 14.8016 7.49002 14.8016 8.31404 14.2655C9.13806 13.7295 9.56865 12.758 9.41248 11.7875L9.52755 11.9601C9.61975 12.0983 9.77493 12.1813 9.9411 12.1813H20.3794C20.5456 12.1813 20.7008 12.0983 20.7929 11.96L20.908 11.7875C20.7518 12.758 21.1824 13.7295 22.0064 14.2655C22.8305 14.8016 23.893 14.8016 24.7171 14.2655C25.5411 13.7295 25.9717 12.758 25.8155 11.7875L25.9306 11.9601C26.0228 12.0983 26.178 12.1813 26.3441 12.1813H28.8294C29.0177 12.1813 29.1898 12.075 29.274 11.9066L30.2681 9.91833C30.3026 9.84931 30.3206 9.77319 30.3206 9.69602V6.71365C30.3206 6.6061 30.2857 6.50145 30.2212 6.41541ZM21.8706 3.23422H26.5927L28.0838 5.22247H21.8706V3.23422ZM25.8471 2.2401H19.8823V1.24598H25.1015L25.8471 2.2401ZM18.6397 3.23422C18.7769 3.23422 18.8882 3.34549 18.8882 3.48275V4.97394C18.8882 5.1112 18.7769 5.22247 18.6397 5.22247H15.4088V3.23422H18.6397ZM18.8882 9.19896H12.4264V6.21659C12.4264 6.21659 18.8079 6.20789 18.8882 6.19174V9.19896ZM14.4147 5.22247H12.6749C12.5377 5.22247 12.4264 5.1112 12.4264 4.97394V3.48275C12.4264 3.34549 12.5377 3.23422 12.6749 3.23422H14.4147V5.22247ZM12.4264 10.1931H18.8882V11.1872H12.4264V10.1931ZM3.79935 1.24598H18.8882V2.2401H3.34746L3.79935 1.24598ZM5.82581 3.23422H9.44404V5.22247H5.1631L5.82581 3.23422ZM2.89557 3.23422H4.77788L4.00184 5.56233C3.95131 5.71392 3.97673 5.88055 4.07016 6.01017C4.1636 6.1398 4.31365 6.2166 4.47343 6.21659H9.9411C10.2156 6.21659 10.4382 5.99405 10.4382 5.71953V3.23422H11.4323V7.21071H1.78035L1.52076 6.2589L2.89557 3.23422ZM1.98813 11.1872C1.71361 11.1872 1.49106 10.9647 1.49106 10.6901C1.49106 10.4156 1.71361 10.1931 1.98813 10.1931H3.47931V11.1872H1.98813ZM6.95874 13.6725C6.13518 13.6725 5.46755 13.0049 5.46755 12.1813C5.46755 11.3578 6.13518 10.6901 6.95874 10.6901C7.7823 10.6901 8.44992 11.3578 8.44992 12.1813C8.44896 13.0045 7.7819 13.6715 6.95874 13.6725ZM9.84039 10.6371C9.44936 10.0485 8.78934 9.69513 8.08272 9.69602H5.83476C5.33638 9.69574 4.85404 9.87215 4.47343 10.1939V9.69602C4.47343 9.4215 4.25089 9.19896 3.97637 9.19896H2.32271L2.05156 8.20483H11.4323V11.1872H10.2072L9.84039 10.6371ZM20.4803 10.6371L20.1133 11.1872H19.8823V3.23422H20.8764V7.08645C20.8774 7.97822 21.6001 8.7009 22.4919 8.70189H24.7287C25.346 8.70261 25.8463 9.20291 25.8471 9.82028V10.1939C25.4665 9.87213 24.9841 9.69573 24.4857 9.69602H22.2378C21.5312 9.69511 20.8713 10.0486 20.4803 10.6371ZM23.3618 13.6725C22.5382 13.6725 21.8706 13.0049 21.8706 12.1813C21.8706 11.3578 22.5382 10.6901 23.3618 10.6901C24.1853 10.6901 24.8529 11.3578 24.8529 12.1813C24.852 13.0045 24.1849 13.6715 23.3618 13.6725ZM28.5222 11.1872H26.8412V9.82028C26.8399 8.65411 25.8948 7.70907 24.7287 7.70777H22.4919C22.1489 7.7074 21.8709 7.42944 21.8706 7.08645V6.21659H28.8294L29.3265 6.87936V8.20483H28.3324V9.19896H29.3265V9.57865L28.5222 11.1872Z" fill="#0DB08A"/>
                            <path d="M6.95869 13.0458C7.43612 13.0458 7.82315 12.6588 7.82315 12.1813C7.82315 11.7039 7.43612 11.3169 6.95869 11.3169C6.48127 11.3169 6.09424 11.7039 6.09424 12.1813C6.09424 12.6588 6.48127 13.0458 6.95869 13.0458Z" fill="#0DB08A"/>
                            <path d="M23.3616 13.0458C23.8391 13.0458 24.2261 12.6588 24.2261 12.1813C24.2261 11.7039 23.8391 11.3169 23.3616 11.3169C22.8842 11.3169 22.4972 11.7039 22.4972 12.1813C22.4972 12.6588 22.8842 13.0458 23.3616 13.0458Z" fill="#0DB08A"/>
                            <path d="M17.8941 7.21075H15.9059V8.20487H17.8941V7.21075Z" fill="#0DB08A"/>
                            </svg>
                        </li>
                        <li><svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.6608 16.3766L10.6284 2.54111L11.8927 0.604542C12.0107 0.423805 11.9598 0.18165 11.7791 0.0636395C11.5983 -0.0544081 11.3562 -0.00350095 11.2382 0.177199L10.5525 1.22758V0.887691C10.5525 0.671869 10.3775 0.496855 10.1616 0.496855C9.94581 0.496855 9.77079 0.671869 9.77079 0.887691V1.22758L9.08506 0.177273C8.96709 -0.00342619 8.7249 -0.0544456 8.54416 0.0637143C8.36346 0.181687 8.31255 0.423842 8.4306 0.604616L9.6949 2.54118L0.650114 16.3955C0.571677 16.5157 0.565393 16.6691 0.633693 16.7952C0.701956 16.9214 0.833918 17 0.977363 17H19.3459C19.3462 17 19.3465 17 19.3467 17C19.5625 17 19.7375 16.825 19.7375 16.6092C19.7375 16.5221 19.709 16.4416 19.6608 16.3766ZM8.12557 16.2184L10.1616 9.54631L12.1977 16.2184H8.12557ZM7.39585 15.9318L5.70092 14.5175L9.17794 10.092L7.39585 15.9318ZM11.1454 10.092L14.6224 14.5174L12.9274 15.9317L11.1454 10.092ZM13.8039 16.2184L15.4145 14.8745C15.5767 14.7391 15.602 14.4991 15.4714 14.333L10.4689 7.96591C10.3357 7.79617 10.0899 7.76659 9.92019 7.90004C9.89486 7.91998 9.87366 7.94298 9.85465 7.9673C9.85454 7.96681 9.85443 7.96644 9.85432 7.96591L4.8518 14.333C4.72123 14.4992 4.74644 14.7391 4.90873 14.8745L6.51928 16.2184H1.69926L10.1616 3.25601L18.624 16.2184H13.8039Z" fill="#0DB08A"/>
                            </svg>
                        </li>
                        <li><svg width="27" height="17" viewBox="0 0 27 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.569 11.5736C10.3389 11.5736 9.33813 12.5928 9.33813 13.8452C9.33813 15.0976 10.3389 16.1168 11.569 16.1168C12.799 16.1168 13.7995 15.0976 13.7995 13.8452C13.7995 12.5928 12.7988 11.5736 11.569 11.5736ZM11.569 14.9442C10.9858 14.9442 10.511 14.4513 10.511 13.8455C10.511 13.2397 10.9858 12.7468 11.569 12.7468C12.1522 12.7468 12.6266 13.2397 12.6266 13.8455C12.6266 14.4513 12.1522 14.9442 11.569 14.9442Z" fill="#0DB08A"/>
                            <path d="M18.1656 9.20583C18.9165 9.20583 19.5276 8.59475 19.5276 7.84381V6.07479C19.5276 5.32356 18.9165 4.71248 18.1656 4.71248H12.2741C11.5232 4.71248 10.9121 5.32356 10.9121 6.07479V7.84381C10.9121 8.59475 11.5232 9.20583 12.2741 9.20583H18.1656ZM18.3547 6.07479V7.84381C18.3547 7.9479 18.2697 8.03293 18.1656 8.03293H15.8063V5.88566H18.1656C18.2697 5.88566 18.3547 5.9707 18.3547 6.07479ZM12.085 7.8441V6.07509C12.085 5.97099 12.17 5.88566 12.2741 5.88566H14.6334V8.03293H12.2741C12.1697 8.03293 12.085 7.94819 12.085 7.8441Z" fill="#0DB08A"/>
                            <path d="M26.1039 13.1001H22.7978C22.9984 12.7632 23.1201 12.3738 23.1385 11.9563C23.1403 11.9381 23.1441 11.9208 23.1441 11.9023C23.1441 11.8961 23.1424 11.8903 23.1424 11.8838C23.1426 11.8712 23.1441 11.8592 23.1441 11.8466V10.815C23.1441 8.62495 22.5562 6.47885 21.4434 4.60867L19.6899 1.66002C19.2613 0.939283 18.4807 0.491531 17.6532 0.491531H2.83491C1.43741 0.491825 0.300293 1.65093 0.300293 3.07512V11.69C0.300293 11.8017 0.309676 11.9111 0.323164 12.019L0.323458 12.0213C0.48385 13.2895 1.54766 14.2733 2.83491 14.2733H2.95894H6.64124H8.12641C8.33079 14.2733 8.52021 14.1672 8.62694 13.9927L9.98163 11.7753C9.9872 11.7662 9.99248 11.7572 9.99747 11.7478C10.1394 11.4845 10.4077 11.3208 10.6974 11.3208H12.4412C12.7309 11.3208 12.9992 11.4845 13.1414 11.7478C13.1464 11.7572 13.1517 11.7662 13.1572 11.7753L14.5119 13.9927C14.6184 14.1672 14.8081 14.2733 15.0125 14.2733H19.9972H20.7634H23.5482V15.1275C23.5482 15.4512 23.8109 15.7139 24.1346 15.7139C24.4583 15.7139 24.7211 15.4512 24.7211 15.1275V14.2733H26.1039C26.4276 14.2733 26.6903 14.0106 26.6903 13.6869C26.6903 13.3631 26.4276 13.1001 26.1039 13.1001ZM2.83491 1.66472H17.6532C18.0755 1.66472 18.4602 1.88727 18.6818 2.25996L18.9912 2.77984H1.50427C1.63563 2.14384 2.1819 1.66472 2.83491 1.66472ZM1.7148 12.489H2.3725V13.011C2.10449 12.9098 1.87431 12.728 1.7148 12.489ZM3.54539 13.1001V11.2792H3.91075C4.23446 11.2792 4.49719 11.0165 4.49719 10.6928C4.49719 10.369 4.23446 10.1063 3.91075 10.1063H3.54539V7.65057H6.05479V13.1001H3.54539ZM7.79741 13.1001H7.22768V12.4887H8.17098L7.79741 13.1001ZM12.4409 10.1479H10.6971C9.98134 10.1479 9.32247 10.5415 8.97295 11.176L8.88732 11.3161H7.22768V7.06442C7.22768 6.7407 6.96496 6.47797 6.64124 6.47797H2.95894C2.63523 6.47797 2.3725 6.7407 2.3725 7.06442V11.3161H1.47318V3.95303H19.6888L20.4356 5.20861C21.4402 6.89757 21.9712 8.83636 21.9712 10.8153V11.3159H14.2536L14.251 11.3161L14.1653 11.1757C13.8158 10.5415 13.1566 10.1479 12.4409 10.1479ZM19.9967 13.1001H15.3406L14.967 12.4887H21.795C21.5833 12.8532 21.2018 13.1001 20.7626 13.1001H19.9967Z" fill="#0DB08A"/>
                            </svg>
                        </li>
                    </div>
                    <div class="cs-widget-inside-date">
                    
                        <label for="start"><h3>Beschikbare datum:</h3></label>
    
                        <input type="date" id="cs-widget-inside-calander" name="trip-start" value="22-06-23" min="22-06-23" max="22-06-24">
                    </div>
                </div>
                
            </div>

                

                <a class="cs-book-now-btn" href="https://campspace.com/nl/s/boomhut-op-1-7-m-hoogte-vlakbij-scherpenheuvel-en-natuurgebied-averbode-bos_3723">Boek nu</a>
                
            </section>
        </section>
    </section>


<%- include('./partials/foot.ejs') %>